<div class="teste">
  <div class="card-container" *ngFor="let repositorie of repositories">
    <h1>{{ repositorie.name | titlecase }}</h1>
    <h2>{{ repositorie.description }}</h2>
    <div class="topics" *ngIf="repositorie.topics.length > 1">
      <div *ngFor="let topic of repositorie.topics">
        {{ topic }}
      </div>
    </div>
    <div class="footer-card">
      <span
        >{{ repositorie.language }} ·
        {{ repositorie.stargazers_count | number }}
        ·
        {{ repositorie.updated_at | date }}</span
      >
    </div>
    <button (click)="handlePagination(2)">teste</button>
  </div>
</div>
